.container .places .place_container
{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}
.container .places h1{
    font-size: 30px;
}
.container .places{
    margin-top: 30px;
    margin-bottom: 60px;
}
.container .places article
{
    width: 390px;
    padding: 30px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}
.container .places article h2{
    font-size: 30px;
    text-align: center;
}
.places .place_container .price_by_night{
    align-self: flex-end;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 22px;
    line-height: 22px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 5px;
}
.places .place_container .information{
    clear: both;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.places .place_container .information div{
    width: 100px;
    height: 100%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center top;
}
.places .place_container .information .max_guest
{
    background-image: url(../images/icon_group.png);
}
.places .place_container .information .number_rooms
{
    background-image: url(../images/icon_bed.png);
}
.places .place_container .information .number_bathrooms
{
    background-image: url(../images/icon_bath.png);
}
.places .place_container .user{
    margin-top: 15px;
    margin-bottom: 8px;
}
.places .place_container .user span{
    font-weight: 700;
}
.places .place_container .amenities,
.places .place_container .reviews{
    margin: 40px 0px;
}
.places .place_container .amenities h2,
.places .place_container .reviews h2{
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.places .place_container .amenities ul li{
    padding-left: 40px;
    height: 25px;
    line-height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 6px 0px;
}
.places .place_container .amenities ul li.tv_icon{
    background-image: url(../images/icon_tv.png);
}
.places .place_container .amenities ul li.wifi_icon{
    background-image: url(../images/icon_wifi.png);
}
.places .place_container .amenities ul li.pet_icon{
    background-image: url(../images/icon_pets.png);
}
.places .place_container .reviews li{
    margin: 15px 0px;
}
.places .place_container .reviews h3{
    font-size: 14px;
    margin-bottom: 4px;
}
.places .place_container .reviews p{
    font-size: 12px;
}