.container .filters{
    position: relative;
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;

}

.container .filters button
{
    position: absolute;
    right: 30px; 
    font-size: 18px;
    background-color: #b33f45;
    color: #fff;
    height: 48px;
    /* font-weight: 700; */
    width: 20%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.container .filters button:hover
{
    opacity: 0.9;
}
.container .filters .locations,
.container .filters .amenities{
    height: 100% ; 
    width: 25%;
    padding-left: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.container .filters .locations{
    border-right: 1px solid #ddd;
}
.container .filters .locations h3,
.container .filters .amenities h3{
    font-weight: 600;
}
.container .filters .locations h4,
.container .filters .amenities h4{
    font-weight: 400;
    font-size: 14px;
}
.container .filters .popover{
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    padding: 15px 30px;
    left: 0;
    line-height: 1.5;
    display: none;
    
}
.container .filters .popover h3{
    font-size: 16px;
    font-weight: bold;
}
.container .filters .locations .popover>li{
    margin: 15px 0px;
}
.container .filters .locations .popover .cities li{
    margin-left: 10px;
}
.container .filters .locations:hover .popover,
.container .filters .amenities:hover .popover{
    display: block;
    z-index: 2;
}
@media only screen and (max-width: 768px){
    .container .filters .locations,
    .container .filters .amenities{
        width: 30%;
        padding-left: 15px;
    }
    .container .filters button
    {
        font-size: 16px;
        height: 45px;
        width: 25%;
        right: 15px; 
    }
    .container .filters .locations h3,
    .container .filters .amenities h3{
        font-size: 14px;
    }
    .container .filters .locations h4,
    .container .filters .amenities h4{
        font-weight: 400;
        font-size: 13px;
    }
}
@media only screen and (max-width: 425px){
    .container .filters{
        flex-wrap: wrap;
        height: auto;
        min-height: 70px;
    }
    .container .filters .locations,
    .container .filters .amenities{
        width: 50%;
        padding-left: 15px;
        border-bottom: 1px solid #ddd;
        padding: 15px;
    }
    .container .filters button
    {
        position: static;
        font-size: 16px;
        width: 60%;
        margin: 10px auto;
    }
}
@media only screen and (max-width: 320px){
    .container .filters .locations,
    .container .filters .amenities{
        width: 100%;
        padding-left: 15px;
    }
    .container .filters .locations{
        border-right: none;
    }
    .container .filters button
    {
        position: static;
        font-size: 16px;
        width: 100%;
        margin: 10px;
    }
}