header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    background-image: url('../images/logo.png');
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left 20px center;
}